{% form_theme form 'bootstrap_5_layout.html.twig' %}

<div class="container w-75">
    <h5>Subscribe on daily menus</h5>
    {{ form_start(form) }}
        <div class="row">
            {{ form_row(form.email) }}
            {{ form_row(form.restaurants) }}
        </div>
    {{ form_end(form) }}
</div>