<div class="menus-list">
    {% for menus in restaurantMenus %}
        <div class="container mt-5 mb-5">
            {% for menu in menus %}
                <div>
                    <h5>
                        <time>{{ menu.date }}</time>
                        <span>{{ menu.note }}</span>
                    </h5>
                    <div class="accordion-body">
                        {% for course in menu.courses %}
                            <div class="course mb-2 ">
                                <strong class="course__name mb-2">
                                    {{ course.course }}
                                </strong>
                                <ul class="list-group">
                                    {% for meal in course.meals %}
                                        <li class="list-group-item">
                                            {{ meal.name }} - {{ meal.price }} Kč
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>