{% extends 'base.html.twig' %}

{% block title %}Restaurants{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row row-cols-2 g-2">
            {% for restaurant in restaurants %}
                <div class="col-6">
                    <div class="card bg-light xs">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ restaurant.name }}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{ restaurant.address }}
                            </h6>
                            <a href="{{ restaurant.url }}" target="_blank" class="btn btn-sm btn-outline-primary">
                                Visit
                            </a>
                            <a class="btn btn-sm btn-outline-primary" href="{{ path('restaurant_menu', { id: restaurant.id }) }}">
                                Menus
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ render(controller('App\\Controller\\RestaurantSubscriptionController::new')) }}
{% endblock %}
