{% extends 'base.html.twig' %}

{% block title %}Menus{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">
        <div class="accordion" id="accordionMenus">
            {% for menu in menus %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-{{ menu.date }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ menu.date }}" aria-controls="collapse-{{ menu.date }}">
                            <strong>{{ menu.date }}</strong> | {{ menu.note }}
                        </button>
                    </h2>
                    <div id="collapse-{{ menu.date }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ menu.date }}" data-bs-parent="#accordionMenus">
                        <div class="accordion-body">
                            {% for course in menu.courses %}
                                <div class="course mb-2 ">
                                    <strong class="course__name mb-2">
                                        {{ course.course }}
                                    </strong>
                                    <ul class="list-group">
                                        {% for meal in course.meals %}
                                            <li class="list-group-item">
                                                {{ meal.name }} - {{ meal.price }} Kč
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
